<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bootstrap Visualization Dashboard</title>

    <!-- Boostrap Stylesheet -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" media="screen">

    <!-- Our own CSS stylesheet -->
    <link rel="stylesheet" href="assets/css/styles.css" media="screen">

  </head>

<body>
    <div class="container">
        <article class="description-content row">
          <div class="col-xs-12">
            <h1 class="description-header">Mission to Mars</h1>
            <hr class="description-hr"/>
            <p class="description-text">This page is supposed to have the pictures</p>
          </div>
</body>